.skeelo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.first-col-skeelo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block-p-skeelo {
    width: 400px;
}

.skeelo-title {
    font-size: 40px;
    color: #2DA44A;
}

.skeelo-range {
    padding: 10px 20px;
    background: linear-gradient(90deg, #2DA44A 18.03%, #113E1C 76.53%);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.frames-block::-webkit-scrollbar {
    color: #113E1C;
    height: 8px;
    background-color: transparent;
    border-radius: 5px;
}

.hide-epic {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 190px;
    height: 360px;
    border-radius: 20px;
    background: rgba(20, 73, 33, 0.5);
    backdrop-filter: blur(35px);
}

@media (min-width: 400px) and (max-width: 768px) {
    .block-p-skeelo {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    
    .skeelo-content {
        justify-content: flex-start;
    }
    
    .second-col {
        display: none;
    }

    .skeelo-title {
        font-size: 30px;
    }
}