.skoob-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.first-col-skeelo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block-p-skeelo {
    width: 400px;
}

.skoob-title {
    font-size: 40px;
    color: #2C7FA3;
}

.skoob-range {
    padding: 10px 20px;
    background: linear-gradient(90deg, #2C7FA3 18.03%, #10303D 76.53%);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.hide-skoob-epic {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 190px;
    height: 360px;
    border-radius: 20px;
    background: rgba(44, 127, 163, 0.5);
    backdrop-filter: blur(35px);
}

@media (min-width: 400px) and (max-width: 768px) {
    .block-p-skeelo {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    
    .skoob-content {
        justify-content: flex-start;
    }
    
    .second-col-skeelo {
        display: none;
    }

    .skoob-title {
        font-size: 30px;
    }
}